@import '../scss/vars.scss';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body{
  font-family: $font-family;
  position: relative;
}
a{
  text-decoration: none;
  &:hover{
    color: $text-color-blue;
  }
}
ul{
  padding-left: 0;
}
img, svg{
  cursor: pointer;
}
.gap-30{
  gap: 30px;
}
.blue-l{
  color: $text-color-blue-light;
}
.blue{
  color: $text-color-blue;
}
.f-s-18{
  font-size: $font-size-18;
}
.f-s-16{
  font-size: 16px;
}
.f-s-21{
  font-size: 21px;
}
.f-w-600{
  font-weight: $font-weight-600;
}
.red{
  font-weight: 600;
  font-size: 21px;
  line-height: 110%;
  color: #CC1111;
}

.zakaz{
  font-weight: 600;
  font-size: 15px;
  color: #1B4F92;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/zakaz.png') no-repeat center center;
    top: 0;
  }
}
ul{
  list-style: none;
}

.splide__slide img {
  width: 100%;
  height: auto;
}
h1{
  color: $text-color-blue;
  font-size: 33;
  font-weight: $font-weight-600;
}
.h3{
  font-size: $font-size-21;
  color: $text-color-white;
  font-weight: $font-weight-600;
  padding-top: 10px;
}
.h4{
  font-size: $font-size-21;
  color: $text-color-blue;
  font-weight: $font-weight-600;
}
.pr-45p{
  padding-right: 45%;
}
.button{
  display: flex;
  align-items: center;
  position: relative;
  color: $text-color-blue-light;
  font-size: $font-size-16;
  font-weight: $font-weight-600;
  margin-left: 25px;
  &::before{
    content: '';
    background: url('/assets/img/button.svg') no-repeat;
    height: 45px;
    width: 15px;
    left: -25px;
    position: absolute;
  }
}
.breadcrumbs{
  ul{
    li{
      padding: 0 10px;
      color: $text-color-blue;
      font-size: $font-size-14;
      font-weight: $font-weight-400;
      a{
        color: $text-color-blue-light;
        font-size: $font-size-14;
        font-weight: $font-weight-400;
      }
    }
  }
}
.header{
  background: url('../img/header_bg.svg') no-repeat center center;
  &__text{
    font-size: $font-size-14;
    font-style: $font-style-italic;
    color: $text-color-white;
  }
  &__icons{
    &__tel{
      a{
        color: $text-color-white;
        font-size: $font-size-18;
      }
    }
  }
}
.main{
  margin-top: -80px;
}
.slider{
  &_button{
    position: absolute;
    top: 80%;
    left: 7%;
    color: $text-color-white;
    &::before{
      background: url('/assets/img/slider_btn.svg') no-repeat;
      height: 30px;
    }
  }
}
.nav{
  position: relative;
  z-index: 1;
  padding-top: 25px;
    &-item{
      background: url('/assets/img/nav_bg.svg') no-repeat;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: $text-color-blue;
        font-size: $font-size-18;
        font-weight: $font-weight-600;
        padding: 0 50px;
      }
    }
}
.title{
  background: url('/assets/img/section_title.svg') no-repeat;
  height: 100px;
  &_bg{
    // background: #00B1EB;
    background: linear-gradient(to right,#00B1EB 25%, rgb(255, 255, 255) 45%);
    height: 48px;
    // box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.26);
  }
}
.big_news{
  background: url('/assets/img/big_new_bg.png') no-repeat right;
  height: 325px;
  margin-top: -50px;
  p{
    font-size: $font-size-18;
    color: $text-color-blue;
    font-weight: $font-weight-400;
  }
}
.news{
  background: #BCE4FA;
  &__date{
    font-size: $font-size-30;
    font-weight: $font-weight-600;
    color: $text-color-blue;
    text-align: center;
    display: block;
  }
  &__prev{
    font-weight: $font-weight-600;
    color: $text-color-blue;
    font-size: $font-size-21;
  }
}
.questions{
  &_head{
    margin-top: 40px;
  }
  &_text{
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
  }
}

.bg_top_cart{
  background: url('../img/bg.jpg') no-repeat center center;
  height: 1225px;
  background-size: 100%;
}
.top_cart_bg_2{
  background: url('../img/top_cart_bg_2.jpg') no-repeat center center;
  height: 230px;
  background-size: 100%;
  .contacts{
      li{
        a{
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
  }
}
.top_cart_bg_3{
  background: url('../img/top_cart_bg_3.png') no-repeat center center;
  height: 345px;
  background-size: 100%;
}

.cart{
  &_img{
    margin-top: 48px;
  }
  &_name{
    position: relative;
    margin-top: 66px;
    font-weight: 600;
    font-size: 21px;
    color: $text-color-white;
    &::before{
      content: '';
      position: absolute;
      height: 60px;
      width: 50px;
      top: -35px;
      left: -40px;
      background: url('../img/cart_name.png') no-repeat left;
      background-size: auto;
    }
  }
  &_desc{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 15px;
  }
  &_info{
    font-weight: 400;
    font-size: 16px;
    line-height: 122%;
    position: relative;
    color: #FFFFFF;
    &::before{
      content: '';
      position: absolute;
      background: url('../img/cart_info.svg') no-repeat left;
      height: 15px;
      width: 15px;
      left: -20px;
    }
  }
  .list_doc{
    margin-top: 20px;
  }
  &_doc{
    background: url(../img/cart_doc.png) no-repeat left center;
    padding: 20px 90px 20px 40px;
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
  }
  &_buy{
    background: url(../img/cart_buy.png) no-repeat left center;
    padding: 20px 90px 20px 40px;
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #1B4F92;
  }
  &_buy_2{
    background: url(../img/cart_buy_2.png) no-repeat left center;
    padding: 20px 90px 20px 40px;
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #1B4F92;
  }
}

.head{
  display: flex;
  align-items: center;
  position: relative;
  color: $text-color-blue;
  font-size: $font-size-21;
  font-weight: $font-weight-600;
  margin-left: 25px;
  &::before{
    content: '';
    background: url('/assets/img/head.svg') no-repeat;
    height: 45px;
    width: 15px;
    left: -25px;
    position: absolute;
  }
}

.viza_bg_1{
  background: url('../img/viza_bg_1.jpg') no-repeat center center;
  height: 400px;
  background-size: 100%;
  li{
    margin-top: 20px;
  }
}
.viza_bg_2{
  background: url('../img/viza_bg_2.png') no-repeat top 50px center;
  height: auto;
  background-size: 100%;
}
.viza_btn{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  position: relative;
  background: rgb(91,197,242);
  background: linear-gradient(90deg, rgba(91,197,242,1) 6%, rgba(0,105,180,1) 6%, rgba(0,105,180,1) 100%, rgba(2,0,36,1) 100%);
  transform: skew(-10deg,0deg);
  color: #FFFFFF;
  padding: 10px 20px 10px 40px;
}
._btn{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: rgb(91,197,242);
  background: linear-gradient(90deg, rgba(91,197,242,1) 6%, rgba(0,105,180,1) 6%, rgba(0,105,180,1) 100%, rgba(2,0,36,1) 100%);
  transform: skew(-10deg,0deg);
  color: #FFFFFF;
  padding: 10px 20px 10px 40px;
}
.viza_btn_big{
    background: url(../img/viza_btn.svg) no-repeat top 20px center;
    background-size: 100%;
    padding: 30px 80px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.viza_bg_3{
  background: url('../img/viza_bg_3.png') no-repeat center center;
  height: auto;
  background-size: 100%;
  p{
    padding-right: 50%;
  }
}
.w-30{
  width: 30%;
}
.w-70{
  width: 70%;
}
.catalog_list{
  display: flex;
  gap: 20px;
  &_item{
    width: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 265px;
    img{
      width: 100%;
    }
    .name{
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #004388;
    }
    .button_shop{
      font-weight: 600;
      font-size: 15px;
      line-height: 120%;
      color: #FFFFFF;
      text-align: center;
      padding: 15px;
      background: url('../img/shop_btn.png') no-repeat center center;
      background-size: 100%;
    }
  }
  .left{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .right{
    display: flex;
    flex-direction: column;
    background: url('../img/right.png') no-repeat center center;
    background-size: 100%;
    padding: 40px 80px;
    a{
      font-weight: 600;
      font-size: 19px;
      color: #FFFFFF;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
}
.shop_menu{
  background: url('../img/shop_menu.png') no-repeat center center;
  background-size: 100%;
  height: 315px;
  padding: 30px;
  .slash_link{
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background: url('../img/viza_slash.png') no-repeat center center;
      right: -35px;
      top: 10px;
    }
  }
  &_link{
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: $text-color-white;
  }
}








.label{
  font-weight: 400;
  font-size: 16px;
  line-height: 122%;
  position: relative;
  color: #000000;
  &::before{
    content: '';
    position: absolute;
    background: url('../img/cart_info.svg') no-repeat left;
    height: 15px;
    width: 15px;
    left: -20px;
  }
}

.footer{
  background: #1B4F92;
  padding: 40px 0;
    a, span{
      color: $text-color-white;
      font-weight: $font-weight-400;
      font-size: $font-size-14;
    }
}
