// цвета
$text-color-blue: #004388;
$text-color-white: #FFFFFF;
$text-color-black: #000000;

// шрифт
$font-family: 'Montserrat';
$font-style: italic;
$font-style: normal;
$font-weight: 400;
$font-weight: 600;